@font-face {
    font-family: 'Gothic';
    src: url('/fonts/GOTHIC.TTF') format('truetype');
}

@font-face {
    font-family: 'Boowie';
    src: url('/fonts/BOOWIE.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        @apply bg-base-background font-primary mobile:text-lg tablet:text-xl laptop:text-2xl;
    }

    .heading {
        @apply text-5xl tablet:text-6xl laptop:text-7xl desktop:text-8xl font-heading;
    }

    h1,
    .heading-1 {
        @apply text-3xl font-heading mb-4 tablet:text-4xl;
    }

    h2,
    .heading-2 {
        @apply text-2xl font-heading mb-4 tablet:text-3xl;
    }

    h3,
    .heading-3 {
        @apply text-xl font-heading mb-4 tablet:text-2xl;
    }

    h4 {
        @apply text-lg font-heading mb-4 tablet:text-xl;
    }

    a {
        @apply hover:underline;
        text-underline-offset: 3px;
    }

    hr {
        @apply mt-4 mb-4 bg-base-border text-base-border border-base-border;
    }

    p {
        @apply mb-2;
    }

    label {
        @apply block mb-2 cursor-pointer;
    }

}

@layer components {

    .btn {
        @apply text-center bg-primary-500 font-extrabold uppercase tracking-wider no-underline px-5 py-4 rounded-2xl items-center border-none hover:no-underline hover:bg-primary-400 leading-5 text-white text-xl inline-block;
    }

    .btn-accept {
        @apply text-center bg-green-900 uppercase tracking-wider no-underline px-3 py-2 rounded-xl items-center border-none hover:no-underline hover:bg-green-800 leading-5 text-white text-base;
    }

    .btn-deny {
        @apply text-center bg-red-900 uppercase tracking-wider no-underline px-3 py-2 rounded-xl items-center border-none hover:no-underline hover:bg-red-800 leading-5 text-white text-base;
    }

    .btn-pulse:hover {
        animation: pulse 1s infinite;
        transition: .3s;
    }
}

.btn {
	background: linear-gradient(45deg, #CBABAE, #B68085 ,#A1565D);
	background-size: 200% 200%;
	animation: gradient 5s ease infinite;	
}

.section-01{
    background-image: url(/bg/bg-mobile-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

@media screen and (min-width: 534px) {
    .section-01{
        background-image:url(/bg/bg-pc-1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        background-position-y: top;
    }
}


@media screen and (min-width: 1024px) {
    .section-01{
        background-image:url(/bg/bg-pc-1.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
    }
    .section-02{
        background-image:url(/bg/bg-pc-2.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right;
        background-position-y: bottom;
    }
}

.section-03 {
    background: linear-gradient(90deg, #A35960, #FF9BA5);
}

.section-03:hover {
    background: linear-gradient(90deg, #c7848b, #B68085 ,#A1565D);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;	
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(.9);
    }
    100% {
        transform: scale(1);
    }
}