---
import Layout from '../layouts/Layout.astro';
import 'aos/dist/aos.css';
---

<Layout title="Mavie Acessórios">
	<main>
		
	</main>

	<script>
		import AOS from "aos";
		AOS.init();
	</script>
</Layout>
