<!-- Banner de Cookies -->
<div id="cookieBanner" class="cookie-banner backdrop-blur-sm fixed bottom-0 z-30 flex-col tablet:flex-row justify-center items-center w-full py-3 gap-0 tablet:gap-2 bg-white bg-opacity-10 hidden">
    <p class="text-xs tablet:text-sm text-center">🍪 Nós usamos cookies para melhorar sua experiência. Ao clicar em "Aceitar", você concorda com o uso de cookies.</p>
    <button id="aceitarCookies" class="btn-accept">Aceitar</button>    
</div>

<script>
    // Verificar se o usuário já aceitou os cookies
    function checkCookie() {
        const cookiesAceitos = document.cookie.includes("cookiesAceitos=true");
        if (!cookiesAceitos) {
            document.getElementById("cookieBanner").classList.add("flex");
            document.getElementById("cookieBanner").classList.remove("hidden");
        }
    }

    // Aceitar cookies
    document.getElementById('aceitarCookies').addEventListener('click', function() {
        document.cookie = "cookiesAceitos=true; max-age=2592000; path=/"; // Expira em 30 dias
        document.getElementById("cookieBanner").classList.add("hidden");
        document.getElementById("cookieBanner").classList.remove("flex");
    });

    // Verificar cookies ao carregar a página
    window.onload = checkCookie;
</script>