<section class="flex flex-col gap-10 items-center justify-center px-10 my-20 container max-w-[550px] text-center text-secondary-400">

    <span class="heading text-primary-400 text-center">Contato:</span>
    
    <p class="text-primary-400"><strong>Endereço:</strong></p>

    <a href="https://maps.app.goo.gl/yCy8e1yFpiFpHJz78">Av. Getúlio Vargas, 187 - Centro, Colatina - ES, 29702-011</a>

    <p class="text-primary-400"><strong>Horário de funcionamento:</strong></p>

    <p><strong class="text-primary-400">Seg - Sex:</strong> 08:30 - 18:00 <br>
        <strong class="text-primary-400">Sáb:</strong> 08:00 - 12:00 <br>
        <strong class="text-primary-400">Dom:</strong> Fechado <br>
        <a href="tel:+5527998420264"><strong class="text-primary-400">Telefone:</strong> (27) 99842-0264</a>
    </p>

    <span data-aos="zoom-in" data-aos-duration="3000"><a href="https://api.whatsapp.com/send/?phone=5527998420264&text&type=phone_number&app_absent=0" class="btn btn-pulse">Entre em contato</a></span>
</section>