<section class="flex flex-col gap-10 items-center justify-center my-20 container">
    <p class="max-w-[600px] text-center">Explore nosso <strong class="text-primary-400">Instagram</strong> e fique por dentro de todas <strong class="text-primary-400">as novidades, promoções e eventos!</strong> <br><a href="https://www.instagram.com/mavieacessorioscolatina/"> @mavieacessorioscolatina</a></p>

    <div class="items-center justify-between mx-auto flex flex-col gap-20 tablet:flex-row">
        <a class="w-[300px]" href="https://www.instagram.com/p/DB_kn3txsyC/"><img src="/instagram/clube-mavie.png" alt=""></a>
        <a class="w-[300px]" href="https://www.instagram.com/p/C7zgZrphcwn/"><img src="/instagram/bolsa.png" alt=""></a>
        <a class="w-[300px]" href="https://www.instagram.com/p/DCRhCGvO9LZ/"><img src="/instagram/bolsa2.png" alt=""></a>
    </div>

    <div class="flex flex-col items-center justify-center gap-5">
        <p class="max-w-[700px] text-center">Você também pode entrar em contato com uma vendedora e comprar através do <strong class="text-[#008013]">WhatsApp.</strong><strong class="text-primary-400"> <br> Enviamos para todo Brasil!</strong></p>

        <span data-aos="zoom-in" data-aos-duration="3000"><a href="https://api.whatsapp.com/send/?phone=5527998420264&text&type=phone_number&app_absent=0" class="btn btn-pulse">Entre em contato</a></span>
    </div>

    <div class="flex flex-col items-center justify-center gap-5">
        <p>Participe do nosso clube vip de <strong class="text-primary-400">promoções!</strong></p>

        <span data-aos="zoom-in" data-aos-duration="3000"><a href="https://chat.whatsapp.com/FqmwZIgA4yI18UVfKN6eWG?fbclid=PAZXh0bgNhZW0CMTEAAaa2YKxR4IxtKFNlNMTE2tfdrrU9MFMj-5VvFl6W6lRw0-LDADzUxs5aHOo_aem_Y8bd3v_jz0j1Cw6EYH_0-A" class="btn btn-pulse">Participar</a></span>
    </div>

    

</section>