<section class="section-03 relative">
    <div class="container justify-center items-center flex flex-col gap-8 text-white mx-auto py-20">
        <span class="heading uppercase">Acessórios:</span>
        <p class="text-center max-w-[730px]">Nossa loja é pensada para mulheres que valorizam o estilo em cada detalhe. Aqui você encontra uma seleção cuidadosa de <strong>bolsas, carteiras, cintos, semi joias, bijus e perfumes</strong>, todos escolhidos com o máximo de qualidade e elegância.</p>
    </div>
    <img class="w-24 absolute -bottom-[28px] left-[46.80%]" src="/arrow.png" alt="">
</section>