<section class="section-02 justify-start flex flex-col w-full pt-40 pb-32 container pl-24">

    <div class="flex flex-col gap-7 justify-start">

        <span data-aos="fade-right" data-aos-duration="1000" class="uppercase heading text-primary-400">Nossa <br> <span class="text-secondary-400">História:</span></span>

        <p data-aos="fade-right" data-aos-duration="1000" class="text-secondary-400 max-w-[570px] mt-5">Proporcionar acessórios de moda exclusivos e de alta qualidade que complementam o estilo e a personalidade de nossos clientes, oferecer experiências de compra excepcional, repleta de inspiração e satisfação sempre foi o desejo da <span class="text-primary-400">MaVie Acessórios</span>.</p>

        <p data-aos="fade-right" data-aos-duration="1000" class="text-secondary-400 max-w-[570px]">Esse senso de valor iniciou quando em fevereiro de 2023, <span class="text-primary-400">Lediane Besserte Butzke de 35 anos</span>, esposa e mãe. <span class="text-primary-400">Já era empresária há 3 anos</span> e antes disso foi cabo da polícia militar, teve a oportunidade de pegar um repasse de uma loja de acessórios. E assim, se apaixonou por esse universo feminino dos acessórios.</p>

        <p data-aos="fade-right" data-aos-duration="1000" class="text-secondary-400 max-w-[570px]">E então, a loja foi criada com o <span class="text-primary-400">objetivo de sempre operar com transparência e honestidade em todas as nossas relações comerciais</span> e com nossos clientes, com muita dedicação, <span class="text-primary-400">sempre prezando pela excelência em cada etapa.</span></p>

        <span data-aos="fade-right" data-aos-duration="1000"><a href="https://api.whatsapp.com/send/?phone=5527998420264&text&type=phone_number&app_absent=0" class="btn btn-pulse">Entre em contato</a></span>

    </div>

    <div class="logo flex justify-start mt-20 ml-[140px]">
        <img src="/Logo-1.svg" alt="">
    </div>

</section>